*, *:before, *:after{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}